<div class="field-container">

<div class="intoro">
  <h6>診断結果</h6>
  <h5>あなたにおすすすめのメニューは…</h5>
</div>

<div class="menu-container">
  <% case [@menu.question1, @menu.question2, @menu.question3, @menu.question4] %>
  <% when ["1", "1", "1", "1"] %>
  <div class="menu4">
    <p> ①スクワット</p>
    <p> ②片足カーフレイズ</p>
    <p> ③プッシュアップ</p>
    <p> ④バイシクルクランチ</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>
    
    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①スクワット･･･大腿四頭筋と呼ばれる太ももの大きな筋肉を鍛えることで、全身の代謝や筋力の効率的な向上につながる。</p>
        <p>②片足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
        <p>③プッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な筋肉な筋肉を鍛えると同時に体幹を強化する。</p>
        <p>④バイシクルクランチ･･･ウエストのくびれを強調する腹斜筋と、割れた腹筋を見せるのに重要な腹直筋を同時に鍛えられる。</p>
    </div>
  
  <% when ["1", "1", "1", "2"] %>
  <div class="menu4">
    <p>①スクワット</p>
    <p>②片足カーフレイズ</p>
    <p>③ウォールプッシュアップ</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>
    
    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①スクワット･･･大腿四頭筋という太ももの大きな筋肉を鍛えることで、全身の代謝や筋力の効率的な向上につながる。</p>
        <p>②片足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
        <p>③ウォールプッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な部位に刺激を加える。</p>
        <p>④スタンディングニートゥエルボー･･･お腹の腹直筋や、腰から太ももにかけての腸腰筋を鍛えることで、腹部の引き締めや体幹の強化につながる。</p>
    </div>
  
  <% when ["1", "1", "2", "1"] %>
  <div class="menu4">
    <p>①スクワット</p>
    <p>②片足カーフレイズ</p>
    <p>③プッシュアップ</p>
    <p>④バイシクルクランチ</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>
   
    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①スクワット･･･大腿四頭筋という太ももの大きな筋肉を鍛えることで、全身の代謝や筋力の効率的な向上につながる。</p>
        <p>②片足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
        <p>③プッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な筋肉を鍛えると同時に体幹を強化する。</p>
        <p>④バイシクルクランチ･･･ウエストのくびれを強調する腹斜筋と、割れた腹筋を見せるのに重要な腹直筋を同時に鍛えられる。</p>
    </div>

  <% when ["1", "1", "2", "2"] %>
  <div class="menu4">
    <p>①スクワット</p>
    <p>②片足カーフレイズ</p>
    <p>③ウォールプッシュアップ</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①スクワット･･･大腿四頭筋という太ももの大きな筋肉を鍛えることで、全身の代謝や筋力の効率的な向上につながる。</p>
        <p>②片足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
        <p>③ウォールプッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な部位に刺激を与える。</p>
        <p>④スタンディングニートゥエルボー･･･お腹の腹直筋や、腰から太ももにかけての腸腰筋を鍛えることで、腹部の引き締めや体幹の強化につながる。</p>
    </div>
  
  <% when ["1", "2", "1", "1"] %>
  <div class="menu4">
    <p>①ドンキーキック</p>
    <p>②両足カーフレイズ</p>
    <p>③ニープッシュアップ</p>
    <p>④クランチ</p>
  </div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
      <p>①ドンキーキック･･･お尻の大臀筋や太もも裏のハムストリングを鍛え、臀部の引き締めや代謝の向上につながる。</p>
      <p>②両足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
      <p>③ニープッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な筋肉に刺激を与える。</p>
      <p>④クランチ･･･割れた腹筋を見せるのに重要な腹直筋を鍛え、代謝の向上や姿勢の安定にもつながる。</p>
    </div>
    
  <% when ["1", "2", "1", "2"] %>
  <div class="menu4">
    <p>①ニーエクステンション</p>
    <p>②両足カーフレイズ</p>
    <p>③ウォールプッシュアップ</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>
  
    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①ニーエクステンション･･･太ももの前部の大腿四頭筋を鍛え、姿勢の安定にもつながる。</p>
        <p>②両足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
        <p>③ウォールプッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な部位に刺激を与える。</p>
        <p>④スタンディングニートゥエルボー･･･お腹の腹直筋や、腰から太ももにかけての腸腰筋を鍛えることで、腹部の引き締めや体幹の強化につながる。</p>
    </div>

  <% when ["1", "2", "2", "1"] %>
  <div class="menu4">
    <p>①ドンキーキック</p>
    <p>②両足カーフレイズ</p>
    <p>③ニープッシュアップ</p>
    <p>④クランチ</p>
</div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>
    
    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①ドンキーキック･･･お尻の大臀筋や太もも裏のハムストリングを鍛え、臀部の引き締めや代謝の向上につながる。</p>
        <p>②両足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
        <p>③ニープッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な筋肉に刺激を与える。</p>
        <p>④クランチ･･･割れた腹筋を見せるのに重要な腹直筋を鍛え、代謝の向上や姿勢の安定にもつながる。</p>
    </div>
 
  <% when ["1", "2", "2", "2"] %>
  <div class="menu4">
    <p>①ニーエクステンション</p>
    <p>②両足カーフレイズ</p>
    <p>③ニープッシュアップ</p>
    <p>④クランチ</p>
  </div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>
  
    <h5>このメニューの効果は…</h5>
    <div class="menu4">
      <p>①ニーエクステンション･･･太ももの前部の大腿四頭筋を鍛え、姿勢の安定にもつながる。</p>
      <p>②両足カーフレイズ･･･ふくらはぎの下腿三頭筋を鍛え、姿勢の安定や運動パフォーマンスの向上につながる。</p>
      <p>③ニープッシュアップ･･･胸の大胸筋や腕の上腕三頭筋、肩の三角筋などの上半身の主要な筋肉に刺激を与える。</p>
      <p>④クランチ･･･割れた腹筋を見せるのに重要な腹直筋を鍛え、代謝の向上や姿勢の安定にもつながる。</p>
    </div>

  <% when ["2", "1", "1", "1"] %>
  <div class="menu4">
    <p>①マウンテンクライマー</p>
    <p>②ハイニー</p>
    <p>③アームサークル</p>
    <p>④ロシアンツイスト</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①マウンテンクライマー･･･7.5METs</p>
        <p>②ハイニー･･･7.5METs</p>
        <p>③アームサークル･･･2.8METs</p>
        <p>④ロシアンツイスト･･･3.0METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>
  
  <% when ["2", "1", "1", "2"] %>
  <div class="menu4">
    <p>①ジャンピングジャック</p>
    <p>②ハイニー</p>
    <p>③アームサークル</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①ジャンピングジャック･･･7.5METs</p>
        <p>②ハイニー･･･7.5METs</p>
        <p>③アームサークル･･･2.8METs</p>
        <p>④スタンディングニートゥエルボー･･･3.8METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>

  <% when ["2", "1", "2", "1"] %>
  <div class="menu4">
    <p>①バックランジ</p>
    <p>②サイドレッグレイズ</p>
    <p>③アームサークル</p>
    <p>④ロシアンツイスト</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①バックランジ･･･3.8METs</p>
        <p>②サイドレッグレイズ･･･3.0METs</p>
        <p>③アームサークル･･･2.8METs</p>
        <p>④ロシアンツイスト･･･3.0METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>

  
  <% when ["2", "1", "2", "2"] %>
  <div class="menu4">
    <p>①スタンディングバックキック</p>
    <p>②ニーエクステンション</p>
    <p>③アームサークル</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、3セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
      <p>①スタンディングバックキック･･･2.8METs</p>
      <p>②ニーエクステンション･･･2.8METs</p>
      <p>③アームサークル･･･2.8METs</p>
      <p>④スタンディングニートゥエルボー･･･3.8METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>
  
  <% when ["2", "2", "1", "1"] %>
  <div class="menu4">
    <p>①ジャンピングジャック</p>
    <p>②ヒップリフト</p>
    <p>③アームサークル</p>
    <p>④スタンディングニートゥエルボー</p> 
  </div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①ジャンピングジャック･･･7.5METs</p>
        <p>②ヒップリフト･･･2.8METs</p>
        <p>③アームサークル･･･2.8METs</p>
        <p>④スタンディングニートゥエルボー･･･3.8METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>
  
  <% when ["2", "2", "1", "2"] %>
  <div class="menu4">
    <p>①ジャンピングジャック</p>
    <p>②スタンディングバックキック</p>
    <p>③アームサークル</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①ジャンピングジャック･･･7.5METs</p>
        <p>②スタンディングバックキック･･･2.8METs</p>
        <p>③アームサークル･･･2.8METs</p>
        <p>④スタンディングニートゥエルボー･･･3.8METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>

  <% when ["2", "2", "2", "1"] %>
  <div class="menu4">
    <p>①ヒップリフト</p>
    <p>②ニーエクステンション</p>
    <p>③アームサークル</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①ヒップリフト･･･2.8METs</p>
        <p>②ニーエクステンション･･･2.8METs</p>
        <p>③アームサークル･･･2.8METs</p>
        <p>④スタンディングニートゥエルボー･･･3.8METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>

  <% when ["2", "2", "2", "2"] %>
  <div class="menu4">
    <p>①スタンディングバックキック</p>
    <p>②ニーエクステンション</p>
    <p>③アームサークル</p>
    <p>④スタンディングニートゥエルボー</p>
  </div>
    <p>まずは各種目10回ずつ、2セット程度から始めてみてね</p>

    <h5>このメニューの効果は…</h5>
    <div class="menu4">
        <p>①スタンディングバックキック･･･2.8METs</p>
        <p>②ニーエクステンション･･･2.8METs</p>
        <p>③アームサークル･･･2.8METs</p>
        <p>④スタンディングニートゥエルボー･･･3.8METs</p>
    </div>
    <p>
    次の式を使ってだいたいの消費カロリーを計算するよ<br>
    <div class="menu4">
      消費カロリー (kcal) = メッツ値 ✕ 体重 (kg) ✕ 活動実施時間 (hour)<br>
    </div>
    </p>
    <p>※ちなみに、ご飯1杯(約150g)は234kcal</p>

  <% end %>
</div>

<%= link_to "ホームに戻る", tweets_path %>

</div>