/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body{
    margin: 13px;
    font-family: "游ゴシック","游明朝";
    background-image: url(こぱごつごつ.png);
    color:silver;
    }

 a {
   color: rgb(157, 129, 241);            
   text-decoration: none;
    }

.field-container{
   padding: 20px; 
   background-color:rgba(69, 66, 69, 0.7);
   }
      
      .field{
         margin-bottom: 15px;
         }

      h5 {     /* 入力画面の項目のところ*/
         font-weight: bold;
         font-size: 17px; 
         margin: 0 0 5px 0;  
         }


h6{       /* 各ページのタイトル*/
   font-weight: bold;
   font-size: 20px; 
   margin: 10px 0px 20px 0;
   border-bottom:solid #580bf1;
   padding-right: 20px;   
   padding-left: 20px;   
   display: inline-block;  
   border-width: thin;
   }


h2{       /* user関係*/
   font-weight: bold;
   font-size: 20px; 
   margin: 10px 0px 20px 0;
   border-bottom:solid #580bf1;
   padding-right: 20px;   
   padding-left: 20px;   
   display: inline-block;  
   border-width: thin;
   }
   

header {
    margin-top: -13px;
    margin-left: -13px;
    margin-right: -13px;
    background-color:gray;
    background-image: url(こぱこんくり2.png);
    height:55px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:solid #580bf1;
    border-width: thin;
       }  
 
         header a{
            font-family: "WDXL Lubrifont JP N", sans-serif;
            font-weight: 200;
            font-style: normal;
            color:silver;
            font-size: 15px; 
            text-decoration: none;
         } 
         header h1 a{
            font-family: "Alfa Slab One", serif;
            font-weight: 400;
            font-style: normal;
            color:silver;
            font-size: 20px;
            margin-left: 40px;
         }
         .header-list{
            display: flex;
            align-items: center;
         }
         header ul{
            display: flex;
         }
         header li {
            list-style: none;  
            margin-right: 40px;
         }

