.hero {
  height: 75vh;
  background-image: 
  linear-gradient(
      rgba(27, 11, 66, 0.3),
      rgba(27, 11, 66, 0.1)
    ),url("こぱお部屋.png");
  opacity: 0.75;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  
  align-items: center;  
  justify-content: flex-start; 
  padding: 30px;

    }

      .hero h2 {
        font-family: "WDXL Lubrifont JP N", sans-serif;
        color: silver;
        font-size: 18px;
        font-weight: 100;
        }


h3 {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 200;
  width: 200px;
  margin: 20px auto;
  text-align: center;
  border-right: solid #4d11c5;
  border-left: solid #460db9;
  border-width: medium
  }

.index-btn {
  background-color: silver; 
  color: black;                           
  padding: 6px 80px;                     
  border: none;                            
  border-radius: 5px;                     
  font-size: 12px;                         
 }

 
 
.menu {
  background-color:rgba(54, 53, 61, 0.7);
  text-align: center;
  margin: 0px 10px 10px 10px auto; 
  padding: 5px 5px;
  }

.search {
  background-color:rgba(54, 53, 61, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto; 
  padding: 5px 5px;
  }

    .search-btn {
      background-color: #5527b2; 
      color: rgb(254, 254, 254);                        
      padding: 6px 12px;                       
      border: none;                          
      border-radius: 5px;                     
      font-size: 12px; 
      margin-bottom: 20px;                        
    }

    .search-tag {
      background-color: rgb(229, 223, 229);
      padding: 6px 10px; 
      width: 250px;
      border-radius: 5px; 
      margin-bottom: 20px; 
    }


.tweets-container {
  background-color:rgba(54, 53, 61, 0.7);
  padding: 20px; 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 10px;     
  max-width: 1200px; 
  margin: 0 auto;    
  }

    .tweet-card {
      background-color:rgba(96, 93, 96, 0.7);
      border-top: solid #300f72;
      overflow: hidden;
      width: 100%;
      margin: 0;   
    }

        .name{
          display: flex;
          align-items: center; 
          gap: 10px; 
          background-color:rgba(62, 60, 62, 0.7);
          padding: 5px 10px;
          }

        .name h4{
          font-weight: bold; 
          margin: 0;   
          }

        .image{
          display: flex;
          gap: 15px;
          padding: 5px 10px;
          }

        .tweet-media {
            width: 200px;        
            height: 150px;  
            object-fit: cover;    
            box-sizing: border-box;    
          }

        .detail{ 
          padding: 2px 10px;
          }

        .detail p {
          margin-top: 0;
          margin-bottom: 0;
          }

        .user{
          background-color:rgba(62, 60, 62, 0.7);
          padding: 5px 10px 0px 10px;  
          }

        .tweet-card .link {
            display: flex;
            gap: 15px; 
            background-color:rgba(62, 60, 62, 0.7);
            padding: 0px 10px 5px 10px;     
        }

        .link a{
          text-decoration: none;
          }
