.hero {
  margin-left: -13px;
  margin-right: -13px;
  height: 75vh;
  background-image:
    linear-gradient(
      rgba(39, 6, 117, 0.153),
      rgba(8, 1, 16, 0.114)
    ),
    url("こぱお部屋2.png");
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}

        .hero h2 {
          font-family: "Dela Gothic One", sans-serif;
          color: silver;
          font-size: 17px;
          font-weight: 100;
        }

h3 {
  font-family: "Dela Gothic One", sans-serif;
  -webkit-text-stroke: 1px #333333; 
  font-weight: 250;
  width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  text-align: center;
  border-right: solid #4d11c5;
  border-left: solid #460db9;
  border-width: medium;
}

.index-btn {
  background-color: silver;
  color:rgba(62, 60, 62, 1) ;
  font-weight: bold;
  padding: 6px 80px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  border: solid #4c0be2; 
  
}

.menu {
  background-color: rgba(54, 53, 61, 0.7);
  text-align: center;
  margin: 10px auto;
  padding: 15px;
}

.search {
  background-color: rgba(54, 53, 61, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 20px;
}

      .search-btn {
        background-color:#4c0be2;
        color:rgb(212, 212, 212);
        border: 1px solid silver; 
        font-weight: bold;
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 12px;
        margin-bottom: 15px;
      }

      .search-tag {
        background-color: rgb(212, 212, 212);
        padding: 6px 10px;
        width: 250px;
        border-radius: 5px;
        margin-bottom: 15px;
      }

      .narrowing{
        font-weight: bold;
        font-size: 18px; 
        margin: 10px 0px 10px 0;
        border-bottom:solid #580bf1;
        padding-right: 20px;   
        padding-left: 20px;   
        display: inline-block;  
        border-width: thin;
        }
        
          .narrowingitem{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-end;
            gap:10px;      
            margin-bottom: 20px;            
            }

          .narrowingitem div {
              display: flex;
              flex-direction: column;
              width: 150px;
              height: 50px;
            }
          
          .narrowingitem input[type="text"],
          .narrowingitem select {
            background-color: rgb(212, 212, 212);
            padding: 6px;
            border-radius: 5px;
            box-sizing: border-box;
            width: 100%;
            }

          .narrowingitem [type="checkbox"] {
            width: 18px;
            height: 18px;
            border-radius: 5px;
            accent-color: #580bf1;
          }

            .narrowing-btn {
               margin-left: auto;
               width: 100%;
               height: 50px;
               display: flex;
               align-items: flex-end;
               margin-bottom: 0px;
              }

 .tweets-new{
    background-color: rgba(54, 53, 61, 0.7);
    padding: 20px;
      }
    
    .tweets-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 10px;
      max-width: 1200px;
      margin: 0 auto;
    }

            .tweet-card {
              background-color: rgba(96, 93, 96, 0.7);
              border-top: solid #300f72;
              overflow: hidden;
              width: 100%;
              margin: 0;
            }

            .name {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 10px;
              background-color: rgba(62, 60, 62, 0.7);
              padding: 5px 15px;
            }
                .name2 {
                   display: flex;
                   align-items: center;

                  }


                .name h4 {
                  font-weight: bold;
                  margin: 0;
                }


            .image {
              display: flex;
              gap: 15px;
              padding: 5px 15px;
            }

            .tweet-media {
              width: 200px;
              height: 150px;
              object-fit: cover;
              box-sizing: border-box;
            }

            .detail {
              padding: 2px 15px;
            }

            .detail p {
              margin-top: 0;
              margin-bottom: 0;
            }

            .user {
              background-color: rgba(62, 60, 62, 0.7);
              padding: 5px 15px 0 15px;
            }

            .tweet-card .link {
              display: flex;
              gap: 15px;
              background-color: rgba(62, 60, 62, 0.7);
              padding: 0 15px 5px 15px;
            }

            .link a {
              text-decoration: none;
            }
            